<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message_green { color:green }
      .message_red { color:red }
      .textbox_green { border:1px solid green }
      .textbox_red { border:1px solid red }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{textboxColor}}"
             ng-model="text"> NOT consider and empty item, i.e., , ,
         </div>
         <div class="form-group">
             <button class="btn btn-default"
              ng-click="separateItems()">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageColor}}">
           {{message}}
         </div>
   </div>
</body>
</html>
